/* Reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,b, u, i, 
center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td , input{margin:0; padding:0; border:none; outline:0;}
body {line-height: 1; font-family:Arial,Helvetica,sans-serif;}
ol, ul {list-style: none;}
a {text-decoration:none;}

/* Helpers */
.clear {display:block; clear:both;}
.hidden {display:none;}
.flip-horizontal {-moz-transform: scaleX(-1); -webkit-transform: scaleX(-1); -o-transform: scaleX(-1); -ms-transform: scaleX(-1); transform: scaleX(-1);}
.bgr-mask {width:100%; height:100%; position:absolute; top:0; left:0; background:black; opacity:0.4;}

/* General styles */
body {background-color:#000; overflow:hidden;}
#container {float:left; position:relative; top:0; left:0; display:block; z-index:1; font-size:11px;}

/* Chat styles */
#container-chat {height:120px; border:1px solid #CCC; z-index:4;}
#container-chat .bgr-mask {height:100px; z-index:4;}

#container-chat ul.chat-tabs {width:100%; height:20px; position:absolute; top:-22px; left:0;}
#container-chat ul.chat-tabs li {height:18px; float:left; margin-right:1px; padding:2px 5px 0; background:#CCC; 
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;}

#chat-input {width:100%; height:20px; position:absolute; top:100px; left:0; z-index:5;}
#chat-log {width:100%; height:100px; position:absolute; top:0; left:0; line-height:11px; overflow-x:hidden; z-index:5;}
#chat-log p {width:100%; margin-left:1px; font-size:12px; color:white; float:left;}
#chat-log p.your-log {color:#0099FF;}

/* Ground tiles */
.ground {width:30px; height:30px; position:absolute; background:url('../images/grass.jpg') no-repeat;
	-moz-transform:matrix(1.42,0,0,0.71,0,0) rotate(45deg); 
	-webkit-transform:matrix(1.42,0,0,0.71,0,0) rotate(45deg); 
	-o-transform:matrix(1.42,0,0,0.71,0,0) rotate(45deg); 
	-ms-transform:matrix(1.42,0,0,0.71,0,0) rotate(45deg); 
	transform:matrix(1.42,0,0,0.71,0,0) rotate(45deg);}

/* Character tiles */
.player-box {position:relative; top:0; left:0; z-index:2;}
.player-balloon {display:none; bottom:6px; position:absolute; border:1px solid #000;}
.player-balloon p {position:absolute; top:5px; left:0; margin:0 5px; max-width:170px; word-wrap:break-word; font-size:12px; color:#fff; z-index:3;}
